.sectitle
  position: relative;
  margin: 1em 0;
  text-align: center;
  &:before
    content: " "
    position: absolute;
    width: 100%;
    height: 4px;
    top: calc(50% - 2px);
    left: 0;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;

  &__content
    color: #555;
    position: relative;
    display: inline-block;
    background: white;
    padding: 0 0.5em;
    
